/* Give your page a fun background color */
body {background-color: whitesmoke;}
/* Make the header and footer a different color from the background */
header {background-color: purple;}
footer {background-color: lime;}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
    border: 4px solid green;
}
/* Make your p tag a different color and italic */
p {
    color: blueviolet;
    font-style: italic;
}
/* Put a border around your image */
img {
    border: 5px solid #5555;
}

/* Change the font-family of your list */
ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}